body {
    font-family: system-ui, roboto, sans-serif, Arial;
    margin: 0;
    color: #3d3d3d;
    --mdc-theme-primary: #f1f3f4;
    --mdc-theme-on-primary: #376fb8;
    background-color: #e4efff;
}

h1 {
    color: #376fb8;
}

h2 {
    clear: both;
}

#screen-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#ui-area {
    position: absolute;
    top: 0;
    right: 50%;
    max-width: 250px;
    z-index: 1000;
    text-align: center;
}



video {
    clear: both;
    display: none;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    /*height: 280px;*/

}

section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.removed {
    display: none;
}

.invisible {
    opacity: 0.2;
}

.detectOnClick {
    position: relative;
    float: left;
    width: 48%;
    margin: 2% 1%;
    cursor: pointer;
}

.videoView {
    position: absolute;
    float: left;
    width: 100%;
    margin: 0;
    cursor: pointer;
    /*min-height: 500px;*/
    /*z-index: 10;*/
    pointer-events: none;
}

.videoView p,
.detectOnClick p {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #007f8b;
    color: #fff;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    margin: 0;
}

.highlighter {
    background: rgba(0, 255, 0, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
}

.canvas {
    z-index: 1;
    position: fixed;
    pointer-events: none;
}

.output_canvas {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    opacity: 0.5;
    position: fixed;
    z-index: 10;
}

.detectOnClick {
    z-index: 0;
    font-size: calc(8px + 1.2vw);
}

.detectOnClick img {
    width: 45vw;
}

.output {
    display: none;
    width: 100%;
    font-size: calc(8px + 1.2vw);
}

#gesture_output {
    font-size: calc(8px + 0.2vw);
    position: fixed;
    bottom: 0;
    z-index: 0;
    opacity: 0.8;
    display: block;
}

form {
    /*margin: 0 auto;*/
    font-family: system-ui, roboto, sans-serif, Arial;
    max-width: 360px;
    position: absolute;
    font-weight: 100;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.33);
    top:50px;
    left:50px;

}

input {
    background: #fbf3ce;
    border: 0.1rem solid #7f9ec9;
    border-top:none;
    border-bottom: none;
    box-sizing: border-box;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    width: 100%;
    font-family: system-ui, roboto, sans-serif, Arial;
    font-weight: 100;
}

button {
    background: #fff;
    border: 0.1rem solid #7f9ec9;
    color: #7f9ec9;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    width: 100%;
    font-family: system-ui, roboto, sans-serif, Arial;
    font-weight: 100;
}

button:hover {
    background-color: #b9cce7;
    color: #13325d;
}

button:active {
    background-color: #b9cce7;
    color: #13325d;
}

button:last-of-type {
}

#keypad {
    background-color: #fff;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0.5rem;
    border: 0.1rem solid #7f9ec9;
    border-bottom: none;
}

#keypad p {
    background-color: #fff;
    border: 0.1rem solid #7f9ec9;
    color: #7f9ec9;
    cursor: pointer;
    font-size: 2rem;
    margin: 0.2rem;
    padding: 1rem;
    text-align: center;
    font-weight: 100;
    user-select: none;
}

.click-hovered, #keypad p:hover {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    background-color: #b9cce7 !important;
    color: #13325d !important;
    border: 0.1rem solid #13325d !important;
}

#keypad p:active {
    background-color: rgba(255, 255, 255, 0.6);
}

/*#keypad p[data-value="clear"] {*/
/*    font-size: 140%;*/
/*    line-height: 180%;*/
/*}*/

#keypad p[data-value="back"] {
    font-size: 280%;
    line-height: 70%;
}

.test-elements {
    z-index: 100;
}

/*.click-hovered {*/
/*    color: #183254 !important;*/
/*    background-color: #152f52; !important;*/
/*    border: 0.1rem solid #183254;*/
/*}*/

.drag-hovered {
    color: #6f622a !important;
    background-color: rgba(247, 202, 130, 0.9) !important;
}

#drg-container {
    transition: all ease-in-out .1s;
}

.hoverable {
    transition: all ease-in-out .1s;
}
